
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: rgb(57,70,116);
  background: linear-gradient(0deg, rgba(57,70,116,1) 4%, rgba(19,81,176,1) 55%, rgba(57,70,116,1) 98%, rgba(57,70,116,1) 98%);
}

main {
  height: 100vh;
}

.historico {
  background: rgb(63,94,251);
  background: linear-gradient(351deg, rgba(63,94,251,1) 31%, rgba(55,94,170,1) 70%);
}

.bodyCadastro {
  background: rgb(40,94,76);
  background: linear-gradient(150deg, rgba(40,94,76,1) 26%, rgba(63,94,251,1) 85%);
}

.corpo__login {
  background-color:hsla(222,77%,26%,1);
  background-image:
  radial-gradient(at 27% 64%, hsla(225,66%,65%,1) 0px, transparent 50%),
  radial-gradient(at 89% 39%, hsla(241,29%,55%,1) 0px, transparent 50%);
}

.login__cadastro{
  text-decoration: none;
  color: #1657ba;
}

.login{
  display: inline-block;
  background-color: white;
  margin: auto 0;
  border-radius: 1.2em;
}

.login input{
  width: 100%;
  height: 3em;
  display: block;
  margin-top: 10px;
  border-radius: 3px;
}

.login__pic {
  display: block;
  margin: 0 auto;
}

.login label {
  font-size: 12px;
  font-family: 'Dosis', sans-serif;
}

.login h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.subForm {
  text-decoration: none;
  color: #1657ba;
  display: block;
  font-size: 12px;
  font-weight: bolder;
}

.login button {
  display: block;
  border: none;
  background: #0f3b7f;
  width: 25em;
  height: 3em;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;

}

header {
  background: #394674;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

header button{
  position: absolute;
  
  right: 5rem;
  width: 40px;
  border: none;
  border-radius: 27px;
  background: #3c35a7;
  box-shadow: inset -11px -11px 27px #2f2982,
            inset 11px 11px 27px #4941cc;
      
}

.sair {
  display: inline-block;
  margin: 0 auto;
  padding: 2px;
  text-decoration: none;
  color: white;
}

nav {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

nav a {
  border-radius: 4px;
  background: #2a4492;
  box-shadow: inset -23px 23px 46px #1c2e62,
            inset 23px -23px 46px #385ac2;
  padding: 5px;
}

.idCadastro {
  margin-top: 2rem;
  color: white;
}

li {
  list-style: none;
  font-family: 'Dosis', sans-serif;
  color: white;
}

nav a {
  color: white;
  text-decoration: none; 
}

.imgProfile{
  width: 38vh;
}

img {
  width: 15vh;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
}

footer {
  background: #394674;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 15px;
  color: white;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  text-align: left;
  background-color: #1657ba;
  color: white;
}

.lado_direito {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 11px;
  margin: 20px;
  background: #2a4492;
  box-shadow: inset -23px 23px 46px #1c2e62,
            inset 23px -23px 46px #385ac2;
}

.lado_direito p {
  font-family: 'Dosis', sans-serif;
  margin-top: 8px;
  margin-left: 20px;
  right: 20%;
  color: white;
}

.lado_direito details {
  display: inline-block;
  margin-top: 5px;
  color: white;
}

.lado_direito details summary{
  font-size: 1em;
  width: 100%;}

.lado_esquerdo li {
  margin-top: 1em;
  font-size: 1.1rem;
}

.section_progresso {
  margin-bottom: 20px;
}

.section_progresso label {
  color: white;
  position: block;
}

.idCadastro{
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.cadastrar form {
  margin: auto 0;
}

 .cadastrar input {
  width: 25rem;
  height: 2rem;
  display: block;
  border: none;
  border-radius: 4px;
} 

.cadastrar button {
  border: none;
  background: #0f3b7f;
  width: 25rem;
  height: 3em;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;

}
